# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem
dl_fail.log
dl_done.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*
!.env.example

# local staging artifacts
/.staging-*.tar.gz

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
